*{
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header{
    position: relative;
    width: 100%;
    height: 125px;
    background-color: #219ebc ;
    overflow: hidden;
    user-select: none;
}

header .header-text{
    display: flex;
    height: 81px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

header .header-text .logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight:bold;
    color: #ffb703;
    font-size: 22px;
}

header .header-text .logo img{
    height: 40px;
    padding-right: 5px;
    transform: scaleX(-1);
}

header .header-text nav ul a{
    display: inline-flex;
    position: relative;
    list-style: none;
    text-decoration: none;
    margin: 9px 20px;
    font-weight:bold;
    color: #ffb703;
    font-size: 20px;
    border-radius: 13px;
}

header .header-text nav ul a:not(.active)::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 3px;
    background-color: #8ecae6;
    transition: .35s all ease-in-out;
}

header .header-text nav ul a:hover::before{
    width: 100%;
}

.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #8ecae6;
    transition: .35s all ease-in-out;
}

header .wave{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    background-image: url(../images/wave.png);
    background-size: 500px 40px;
}

header .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 400;
    opacity: 1;
    animation-delay: 5s;
    bottom: 0;
}

header .wave.wave2{
    animation: animate-secondary 15s linear infinite;
    z-index: 399;
    opacity: 0.5;
    animation-delay: 0s;
    bottom: 2px;
}

header .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 398;
    opacity: 0.2;
    animation-delay: 3s;
    bottom: 3px;
}

header .wave.wave4{
    animation: animate-secondary 5s linear infinite;
    z-index: 397;
    opacity: 0.7;
    animation-delay: 0s;
    bottom: 4px;
}

@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 500px;
    }
}

@keyframes animate-secondary{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -500px;
    }
}

main{
    background-color: white;
    min-height: 100vh;
    padding: 40px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main>img{
    width: 50%;
}

main h1{
    font-size: 60px;
    margin: 20px 0;
    color: #022435;
}

main .page-map a{
    text-decoration: none;
}

main .page-map ul>a li{
    font-size: 34px;
    color: #023047;
    font-weight: 600;
    transition: .3s all ease-in-out;
    line-height: 1.5;
}

main .page-map ul>a li:hover{
    transform: scale(1.04);
    color: #034a6e;
}

main .page-map ul ol>a li{
    font-size: 18px;
    color: #023047;
    font-weight: 600;
    transition: .3s all ease-in-out;
    line-height: 2;
    margin-left: 20px;
}

main .page-map ol>a li:hover{
    transform: translateX(20px);
    color: #034a6e;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #023047;
    padding: 50px 0;
    z-index: 0;
}

footer .container{
    max-width: 1170px;
    margin: auto;
}

footer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .footer-column{
    width: 30%;
    padding: 0 10px;
}

.footer-column h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    user-select: none;
}

.footer-column h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fb8500;
    box-sizing: border-box;
    height: 2px;
    width: 50px;
}

.footer-column ul li:not(:last-child)
{
    margin-bottom: 12px;
}

footer .container ul li a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
} 

footer .container ul li a:hover{
   color: white;
   padding: 0 10px;
} 

footer .container ul{   
    list-style: none;
}

@media (max-width:800px) {
    footer .footer-column{
        width: 50%;
        padding: 10px;
    }
}
